@using BenzanFF.Data.Services;
@inherits LayoutComponentBase
@inject IUserManagerService userManagerService;

<PageTitle>Your Fast Food (Benzan)</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView Context="data">
            <Authorized>
                <div class="top-row px-4">
                    <div class="dropdown">
                        <button style="background-color: rgb(76, 42, 6)" class="btn text-white dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            @data.User!.Identity!.Name
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li>
                                <button class="dropdown-item" type="button">
                                    <NavLink class="nav-link" href="perfil">
                                        <span class="oi oi-person" aria-hidden="true"> 
                                            Mi Perfil
                                        </span>
                                    </NavLink>
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" @onclick="Logout">
                                    <span class="nav-link">
                                        <i class="oi oi-account-logout"></i>
                                        Cerrar Sesión
                                    </span>
                                    
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Acceder
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    private async Task Logout()
    {
        var logout = await userManagerService.Logout();
        if (logout.Success)
            urlManager.NavigateTo("/login", true);
    }
}
