@using BenzanFF.Data.Services;
@using BenzanFF.Data.Constants;
@inject IUserManagerService userManagerService;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BenzanFF</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/servicios">
                <i class="oi oi-browser"></i>Servicios
            </NavLink>
        </div>
        <AuthorizeView Roles="@Roles.Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/usuarios">
                        <i class="oi oi-people"></i>Usuarios
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task Logout()
    {
        var logout = await userManagerService.Logout();
        if(logout.Success) 
            urlManager.NavigateTo("/login", true);
    }
}
