@using BenzanFF.Data.Services;
@inject IUserManagerService userManagerService;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BenzanFF</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/perfil">
                        <i class="oi oi-person"></i>Mi Perfil
                    </NavLink>
                    </div>
                <div class="nav-item px-3">
                    <a class="nav-link" @onclick="Logout">
                        <i class="oi oi-account-logout"></i>Cerrar Sesión
                    </a>
                </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/login">
                            <i class="oi oi-account-login"></i>Iniciar Sesión
                        </NavLink>
                    </div>
                </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task Logout()
    {
        var logout = await userManagerService.Logout();
        if(logout.Success) 
            urlManager.NavigateTo("/login", true);
    }
}
